<footer class="footer">
  <mat-toolbar>
    <div class="footer-content">
      <div class="footer-section">
        <span class="copyright">
          © {{currentYear}} {{ 'FOOTER.COPYRIGHT' | translate }}
        </span>
      </div>
      <div class="footer-section">
        <a mat-button href="https://github.com" target="_blank">
          <mat-icon>code</mat-icon>
          GitHub
        </a>
        <a mat-button href="mailto:support@example.com">
          <mat-icon>email</mat-icon>
          {{ 'FOOTER.CONTACT' | translate }}
        </a>
      </div>
      <div class="footer-section">
        <span class="version">
          {{ 'FOOTER.VERSION' | translate }} 1.0.0
        </span>
      </div>
    </div>
  </mat-toolbar>
</footer>
